<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400i,700i" rel="stylesheet">
    <link rel="stylesheet" href="../public/style/login-efetuado.css" type="text/css">
</head>
<body>
    <header>
        <div class="img-borussia" >
            <a href="">
            <img src="../public/img/logo-bvb.svg">
            </a>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="banner">
                <img src="../public/img/logo-bvb.svg" alt="imagem-login" width="200px">
            </div>
            <br>

            <div class="box-login">
                <h2>LOGADO COM SUCESSO!</h2>
                <div class="box">
                </div>
            </div>
    
        </div>
        
    </main>
    <script src="../public/js/login.js"></script>
</body>
</html>